@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Me Out to the Ballpark</h1>
    <p class="lead">This is my application. Work in progress.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Map</h2>
        <p>
            Check out your map!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Event</h2>
        <p>Check off another stadium!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Photo Gallery</h2>
        <p>Shows list of events, with a link to Photo Gallery.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>