@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Me Out to the</h1>
    <h2>BALLPARK</h2>
</div>

<div class="mainOptions">

<div class="row">
    <div class="col-md-4">
        <h2>My Map</h2>
        <p>
            Hopefully this map becomes functional before the end of this project.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Let's Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Event</h2>
        <p>Check off another stadium!</p>
        <p><a class="btn btn-danger" href="https://localhost:44350/Event/Create">Add Game &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Problems with your log? Let us know you questions, comments or concerns.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>
</div>