@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Me Out to the</h1>
    <h2>BALLPARK</h2>
</div>

<div class="mainOptions">

<div class="row">
    <div class="col-lg-12">
        <h2>Get Started</h2>
        <p>
            How many ballparks have you been to? How many are left? Check your progress!
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44350/Event">My Progress &raquo;</a></p>
    </div>
</div>
</div>