@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Me Out to the Ballpark</h1>
    <p class="lead">Track and log each trip to the baseball diamond. Try and hit every stadium, or just look back at some of your favorite memories! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Map</h2>
        <p>
            Hopefully this map becomes functional before the end of this project.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Let's Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Event</h2>
        <p>Check off another stadium!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add Game &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Problems with your log? Let us know you questions, comments or concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>