@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Me Out to the</h1>
    <h2>BALLPARK</h2>
</div>

<div class="mainOptions">

<div class="row">
    <div class="col-md-4">
        <h2>My Progress</h2>
        <p>
            How many ballparks have you been to? How many are left? Check your progress!
        </p>
        <p><a class="btn btn-danger" href="https://localhost:44350/Event">GetEventByProfileID &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Event</h2>
        <p>Check off another stadium!</p>
        <p><a class="btn btn-danger" href="https://localhost:44350/Event/Create">CreateEvent &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Something wrong?</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>
</div>