
@{
    ViewBag.Title = "GetVisitedVenues";
}

<h2>GetVisitedVenues</h2>

<table class="table">
    <tr>
        <th>
            Venues Visited:
        </th>
        <th>
            Venues Visited:
        </th>
        <th></th>
    </tr>
<tr>
    <td>
        @ViewBag.VisitedVenues
    </td>
    <td>
        @ViewBag.VenueCount
    </td>
</tr>

</table>

